td {
    border: 10x black solid;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    text-decoration: none;
    list-style: none;
    color: #fff;
}

body {
    background-color: black;
    text-shadow: 0 0 10px rgb(0, 255, 132),
        0 0 20px rgb(0, 255, 132);
    text-align: center;
}

.bg {
    position: absolute;
    display: flex;
    width: 100%;
    z-index: -2;
    opacity: 0.4;
}

nav{
    background: rgb(42, 42, 44);
    height: 80px;
    width: 100%;
    text-shadow: none;
    font-weight: bold;
}

nav label{
    font-size: 35px;
    line-height: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
}

nav label img{
    width: 7%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a{
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 100px;
    font-size: 50px;
    letter-spacing: .1em;
}

p {
    margin: 10px;
    padding: 100px;
    font-size: 20px;
}

table {
    box-shadow: 0 0 5px rgb(0, 255, 132),
        0 0 10px rgb(0, 255, 132);
}

table tr {
    box-shadow: 0 0 5px rgb(0, 255, 132),
        0 0 10px rgb(0, 255, 132);
}

.box {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    padding-right: 30%;
    width: calc(100% + 170px);

    /* Reflection Effect */
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, .25));
    animation: animateSurface 1s ease-in-out infinite;
}

@keyframes animateSurface {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200px);
    }
}

.box .cube {
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 132);
    box-shadow: 0 0 5px rgb(0, 255, 132),
        0 0 25px rgb(0, 255, 132),
        0 0 50px rgb(0, 255, 132),
        0 0 100px rgb(0, 255, 132),
        0 0 200px rgb(0, 255, 132),
        0 0 300px rgb(0, 255, 132);

    transform-origin: bottom right;
    animation: rotateAnimate 1s ease-in-out infinite;
}

@keyframes rotateAnimate {
    0% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(90deg);
    }

    65% {
        transform: rotate(85deg);
    }

    70% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(87.5deg);
    }

    80%,
    100% {
        transform: rotate(90deg);
    }
}

.Xtable {
    border-color: white;
}

.brand {
    display: flex;
}

.brand li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* transition: .1s ease-in-ot; */
}

.brand li a:hover {
    text-shadow: 0 0 10px rgb(0, 255, 132),
        0 0 30px rgb(0, 255, 132),
        0 0 60px rgb(0, 255, 132);
    font-weight: bold;
}

span {
    float: right;
    font-family: 'Verdana', monospace;
}

.submit-btn{
    
}

.btn {
    position: fixed;
    top: 50%;
    right: 50%;
    background-color: black;
    box-shadow: 0 0 0 150vh black;
    transform: translateX(+50%) translateY(-50%);
}

.btn .play {
    position: relative;
    width: 100px;
    height: 70px;
    background-color: rgb(230, 60, 60);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px 0 gray;
}

.btn .play::before {
    content: '';
    position: absolute;
    border: 30px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 0px solid transparent;
}

.clip {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translateX(+50%) translateY(-50%);
}

.video {
    max-width: 800px;
    width: 100vw;
}

/* .clip .video {
    border: 10px solid gray;
} */

.close {
    display: none;
}

.closeBtn {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translateX(+50%) translateY(320px)
}

.closeBtn:hover {
    cursor: pointer;
    text-shadow: 0 0 10px rgb(0, 255, 132),
        0 0 30px rgb(0, 255, 132),
        0 0 60px rgb(0, 255, 132);
    font-weight: bold;
}